<h1>Make your form here</h1>



<form method="POST" action= "/pirates">
<p>Pirate</p>
<label>Name:<input type="text"name="name"></label>
<label>Weight:<input type="text"name="weight"></label>
<label>Height:<input type="text"name="height"></label>
<p>Ship 1</p>
<label>Name:<input type="text"name="name"id="ship_name_1"></label>
<label>Type:<input type="text"name="type"id="ship_type_1"></label>
<label>Booty:<input type="text"name="booty"id="ship_booty_1"></label>
<p>Ship 2</p>
<label>Name:<input type="text"name="name"id="ship_name_2"></label>
<label>Type:<input type="text"name="type"id="ship_type_2"></label>
<label>Booty:<input type="text"name="booty"id="ship_booty_2"></label>
  <input type="submit" id="submit">
</form>
