

    <form method="POST" action= "/pirates">
    <p>Pirate</p>
    <label>Name:<input type="text"name="pirate[name]"></label>
    <label>Weight:<input type="text"name="pirate[weight]"></label>
    <label>Height:<input type="text"name="pirate[height]"></label>
    <p>Ship 1</p>
    <label>Name:<input type="text"name="pirate[ships][][name]"id="ship_name_1"></label>
    <label>Type:<input type="text"name="pirate[ships][][type]"id="ship_type_1"></label>
    <label>Booty:<input type="text"name="pirate[ships][][booty]"id="ship_booty_1"></label>
    <p>Ship 2</p>
    <label>Name:<input type="text"name="pirate[ships][][name]"id="ship_name_2"></label>
    <label>Type:<input type="text"name="pirate[ships][][type]"id="ship_type_2"></label>
    <label>Booty:<input type="text"name="pirate[ships][][booty]"id="ship_booty_2"></label><br>
      <input type="submit" value="Submit">
    </form>
